
// Colors
$color-blue-dark: rgb(5, 0, 109);
$color-black-dark: rgb(73, 74, 91);
$color-black-light: rgb(98, 99, 117);
$color-primary: #2BB031;
$color-white: #ffffff;
$color-grey-light: #f5f7fa;
$color-box-shadow: #333333;
$color-grey-transparent: #ccc;

// Font Size
$base-font-size: 16px;
$font-size-6: 0.375rem;
$font-size-8: 0.5rem;
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-20: 1.25rem;
$font-size-40: 2.5rem;

// Font Weight
$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-800: 800;