.tag {
  background: $color-white; 
  color: $color-black-light; 
  font-size: $font-size-10; 
  padding: 5px 10px 5px 5px; 
  border: 1px solid $color-grey-transparent; 
  border-radius:10px; 
  margin:10px 0px 0px 5px;
  display:inline-block;
}

.close-tag {
  width: 9px; 
  cursor: pointer;
  height: 9px; 
  float: right; 
  margin: 1px 0px 0 10px; 
  background-image:url('../assets/images/close.svg'); 
  border-radius:25px; 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat;
}